<div class="container mx-auto flex flex-wrap py-6">
    <section class="w-full md:w-2/3 flex flex-col items-center px-3">

        <article class="flex flex-col shadow my-4">
            <div class="bg-white flex flex-col justify-start p-6">
                <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Some text</a>
                <a href="#" class="text-4xl font-bold hover:text-gray-700 pb-4">{{title}}</a>
                <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">Category: {{category.name}}</a>
                <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">Where: {{venue.name}}</a>
                <p href="#" class="text-sm pb-3">
                    Host: {{user.username}}
                </p>
                <a href="#" class="pb-6">{{description}}</a>
            </div>
        </article>

    </section>
</div>