<div class="grid h-screen place-items-center">

    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/images/dance-party.jpg" alt="Dance party">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{title}}</div>
            <p class="text-gray-700 text-base">
                {{description}}
            </p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Category:
                {{category.name}}</span>
            <span class="inline-block bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Where:
                {{venue.name}}</span>
            <span class="inline-block bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Hosted
                by: {{user.username}}</span>
            <div class="py-3 px-6 border-t border-gray-300 text-gray-600">
                <form class="count-form">
                    <label for="rsvp-count"
                        class="inline-block px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">How
                        many will be going?</label>
                    <input class="text-center" type="number" placeholder="Enter count" name="rsvp-count"
                        id="rsvp-count">
                    <button
                        class="inline-block bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 confirm-button"
                        type="submit" id="{{id}}">Confirm</button>
                </form>
            </div>
        </div>
    </div>

</div>



<script src="/js/count.js"></script>